#login_title {
  text-align: center;
  margin: 10% auto 5% auto;
}

#login_title > span > h1 {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: #202020;
  display: block;
  text-decoration: underline;
  text-decoration-color: black;
}

.login_box {
  display: flex;
}

.login_img {
  width: 50%;
  margin: 15px;
}

.login_insert {
  width: 50%;
  margin: 15px;
  padding-left: 40px;
  padding-right: 40px;
}

.login_btn {
  color: aliceblue;
  font-size: 12px;
  display: inline-block;
  vertical-align: center;
  height: 52px;
  width: 92px;
  line-height: 52px;
  background-color: black;
}

.login_blank_border {
  border-bottom: 1px dotted;
  padding-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

.login_blank {
  padding-top: 10px;
}

.login_etc {
  margin-left: 40px;
  margin-right: 40px;
  text-align: right;
}

.login_etc > a {
  color: black;
}

.etc {
  margin-left: 40px;
  margin-right: 40px;
}
.etc > p {
  font-size: 12px;
  color: #9f9f9f;
}

::selection {
  background: #e81d76;
  color: #fff;
  text-shadow: none;
}

.sns_img {
  display: flex;
}

.sns_img > img {
  width: 50%;
}
